/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


#paper{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: clamp(30px, 10vw,60px);
    height: clamp(45px, 10vw,70px);
    background: url("/images/icon-paper.svg");
    background-size:100%;
    background-repeat: no-repeat;

}
.Global-paperContainer{
    border: 10px solid rgb(94, 36, 255);
}
#rock{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: clamp(30px, 10vw,60px);
    height: clamp(45px, 10vw,70px);
    background: url("/images/icon-rock.svg");
    background-size:100%;
    background-repeat: no-repeat;

}
.Global-rockContainer{
    border: 10px solid rgb(255, 201, 40);
}
#scissors{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: clamp(30px, 10vw,60px);
    height: clamp(45px, 10vw,70px);
    background: url("/images/icon-scissors.svg");
    background-size:100%;
    background-repeat: no-repeat;
    z-index: 999;
}
.Global-scissorsContainer{
    border: 10px solid rgb(255, 74, 74);
}

.Global-paperContainer,
.Global-rockContainer,
.Global-scissorsContainer{
    position: relative ;
    width: clamp(100px, 20vw,185px);
    height: clamp(100px, 20vw,185px);
    border-radius: 8rem;
    padding: 3rem;
    background-color: white;
    cursor: pointer;
}